.timer {
    background-color: #F4F4F4;
}

.header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    background-color: #C4C4C4;
    color: #FFFFFF;
}

.headerStoped,
.headerPause {
    background-color: #DC3E22;
}

.headerBreak {
    background-color: #A8B64F;
}

.clock {
    position: relative;
}

.clockBody {
    padding: 70px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.add {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -235px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 0;
    background-color: #C4C4C4;
    transition: background-color ease-in-out .1s, color ease-in-out .1s;
}

.add:hover {
    cursor: pointer;
}

.add:active {
    background-color: #899441;
}

.time {
    position: relative;
    text-align: center;
    font-size: 150px;
    font-weight: 200;
    line-height: 120px;
}

.time>* {
    font-size: 150px;
}

.timeNumberMins {

    position: absolute;
    right: 100%;
}

.timeNumberSecs {

    position: absolute;
    left: 100%;
}

.timePause {
    color: #DC3E22;
}

.timeBreak {
    color: #A8B64F;
}

.timeStop {
    color: #9F200C;
}

.title {
    font-weight: 400;
    font-size: 16px;
}

.taskNumber {
    color: #999999;
}

.actions {
    display: flex;
    gap: 25px;
}