.timer {
    background-color: #F4F4F4;
}

.header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    background-color: #C4C4C4;
    color: #FFFFFF;
}

.clock {
    position: relative;
}

.clockBody {
    padding: 70px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.add {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -75px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 0;
    background-color: #C4C4C4;
}

.time {
    text-align: center;
    font-size: 150px;
    font-weight: 200;
    line-height: 120px;
}

.title {
    font-weight: 400;
    font-size: 16px;
}

.taskNumber {
    color: #999999;
}

.actions {
    display: flex;
    gap: 25px;
}