.input {
    width: 100%;
    padding: 15px;
    background-color: #F4F4F4;
    font-size: 16px;
    border: 0;
}

.input::placeholder {
    color: #999999;
    font-size: 16px;
}

.input:focus {
    outline: none;
}